<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>脑波历史数据</title>
		<meta th:replace="layout_header" />
  </head>

  <body>
  	<div th:replace="layout_page_header::content"></div>
 
 		<div class="container-fluid">
 			<div class="row">
 			  <label class="col-md-1 control-label">开始时间:</label>
				<input id="start" class="col-md-2" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"></input>
				
				<label class="col-md-1 control-label">结束时间:</label>
	    	<input id="end" class="col-md-2" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"></input>
	    	
	    	<label class="col-md-1 control-label">设备id:</label>
	    	<select id="device_selector" class="col-md-2"	>
	    		<!-- <option value ="" selected="selected"></option> -->
	    	</select>
	    	
	    	<input id="submitEsense" class="col-md-1" type="button" value="查询" onclick="esensePic()" />
 			</div>
		  <div id="containerEsense"  style="min-width:800px;height:400px"></div>
 		</div>
 		
 		<script>
 			$("#start").val(laydate.now(0));
 			$("#end").val(laydate.now(1));
 			getDeviceIds();
 			//$("#device_selector").append("<option>Text</option>");
 			//alert($("#device_selector").get(0).options[1].text );
 		</script>
  </body>
</html>