<!DOCTYPE html>
<html>
<head>
    <title>脑波实时数据</title>
		<meta th:replace="layout_header" />
</head>
<body onload="lastRun()">
	<div th:replace="layout_page_header::content"></div>
	<div>
		<div class="row">
	    	<label class="col-md-1 control-label">设备id:</label>
	    	<select id="device_selector" class="col-md-2"	>
	    		<!-- <option value ="" selected="selected"></option> -->
	    	</select>
	    	<input id="submitEsense" class="col-md-1" type="button" value="查询" onclick="lastRun()" />
 		</div>
 		
		<div id="containerEsense" class="container-fluid" style="min-width:800px;height:400px"></div>
		<div id="containerRawEeg" class="container-fluid" style="min-width:800px;height:400px"></div>
    <div style="display:none">
        <button id="connect" name="连接" onclick="rawEegDymPic();connect();">Connect</button>
        <button id="disconnect" name="断开" disabled="disabled" onclick="disconnect();">Disconnect</button>
        <button id="reqData" onclick="reqData(&quot;rawEeg&quot;);">重新获取数据</button>
    </div>
	</div>
	<script>
			function lastRun(){
				rawEegDymPic();
				esenseDymPic();
				
				disconnect();
				connect();
			}
			getDeviceIds();
	</script>
</body>
</html>