<!DOCTYPE html>
<html>
<head>
    <title>脑波实时数据</title>
		<meta th:replace="layout_header" />
</head>
<body onload="lastRun()">
	<div th:replace="layout_page_header::content"></div>
	<div>
		<div id="containerEsense" class="container-fluid" style="min-width:800px;height:400px"></div>
		<div id="containerRawEeg" class="container-fluid" style="min-width:800px;height:400px"></div>
    <div style="display:none">
        <button id="connect" name="连接" onclick="rawEegDymPic();connect();">Connect</button>
        <button id="disconnect" name="断开" disabled="disabled" onclick="disconnect();">Disconnect</button>
        <button id="reqData" onclick="reqData(&quot;rawEeg&quot;);">重新获取数据</button>
    </div>
	</div>
	<script>
			function lastRun(){
				esenseDymPic();
				rawEegDymPic();
				disconnect();
				connect();
			}
	</script>
</body>
</html>