<!DOCTYPE html>
<html>
<head>
    <title>Hello WebSocket</title>
    <!-- <script src="sockjs-0.3.4.js"></script> -->
    <script src="http://cdn.sockjs.org/sockjs-0.3.4.min.js"></script>
    <!-- <script src="stomp.js"></script> -->
    <script src="http://cdn.bootcss.com/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="/jquery-1.9.1/jquery.min.js"></script>
		<script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script> 
		<script src="/laydate/laydate.js"></script>
		<script src="/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <script src="/figure.js"></script>
</head>
<body onload="disconnect()">
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div>
    <div>
        <button id="connect" onclick="connect();rawEegDymPic();">Connect</button>
        <button id="disconnect" disabled="disabled" onclick="disconnect();">Disconnect</button>
    </div>
    <div id="conversationDiv">
        <label>What is your name?</label><input type="text" id="name" />
        <button id="sendName" onclick="sendName();">Send</button>
        <p id="response"></p>
    </div>
    <div id="containerRawEeg" class="container-fluid" style="min-width:800px;height:400px"></div>
</div>
<!-- <script>rawEegDymPic();</script> -->
</body>
</html>