<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>mind ware data figure</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- <script src="http://cdn.hcharts.cn/jquery/jquery-1.8.3.min.js"></script> -->
		<script src="/jquery-1.9.1/jquery.min.js"></script>
		<script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script> 
		<script src="/laydate/laydate.js"></script>
		<script src="/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
		<script src="figure.js"></script>
  </head>

  <body>
  	<h1 th:text="${name}">Welcome!</h1>
 
 		<div class="container-fluid">
 			<div class="row">
 			  <label class="col-sm-2 control-label">开始时间:</label>
				<input id="start" class="col-md-1" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"></input>
				<label class="col-sm-2 control-label">结束时间:</label>
	    	<input id="end" class="col-md-1" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"></input>
	    	<input id="submitEsence" class="col-md-1" type="button" value="查询" onclick="esencePic()" />
 			</div>
		  <div id="containerEsence"  style="min-width:800px;height:400px"></div>
 		</div>

		<!-- <div class="container-fluid">
    	<input id="date" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})">日期</input>
	    <input id="submit" type="button" value="刷新数据" onclick="rawEegPic()" />
	    <div>刷新时间：</div><div id="myDiv">wait for refresh</div>
			<div id="containerRawEeg" class="container-fluid" style="min-width:800px;height:400px"></div>
    </div>
		
		<div id="container2" class="container-fluid" style="min-width:700px;height:400px"></div> -->
  </body>
</html>